.portfolio-value-table-container {
  background-color: #f2f7fc;
  padding: 20px;
  border-radius: 8px;
}
.highlighted-row {
  background-color: rgb(255, 255, 138);
}

.portfolio-value-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  background-color: #fff;
}

.portfolio-value-table th,
.portfolio-value-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dfe6eb;
}

.portfolio-value-table thead th {
  /* background-color: #f2f2f2; */
  background-color: #0366d6;
  color: #fff;
  /* text-align: center; */
  /* text-transform: uppercase; */
  font-weight: bold;
}

.portfolio-value-table tbody tr:nth-child(even) {
  background-color: #f6fbff;
}


.portfolio-value-table th:first-child,
.portfolio-value-table td:first-child {
  padding-left: 20px;
}

.portfolio-value-table th:last-child,
.portfolio-value-table td:last-child {
  padding-right: 20px;
}

/* .portfolio-value-table tbody tr:hover {
  background-color: #e6e6e6;
} */

.portfolio-value-table tbody td {
  border-bottom: 1px solid #ddd;
}

.portfolio-value-table tfoot td {
  font-weight: bold;
}
.portfolio-value-table-title {
  /* font-size: 20px; */
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #0753ab;
  font-size: 24px;
}

.portfolio-value-table-sub-title {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #095fc1;
  margin-bottom: 10px;
}
